* {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  height: 100vh;
}
#email {
  background-color: #f9dbbd;
  grid-column: 1/2;
}
#music {
  background-color: #ffa5ab;
  grid-column: 1/2;
  grid-row: 3/5;
}
#weather {
  background-color: #da627d;
  grid-column: 3/5;
}
#todo {
  background-color: #a53860;
  grid-column: 2/5;
  grid-row: 2/5;
}
#greeting {
  background-color: #450920;
  grid-column: 1/3;
}
#search {
  background-color: #07020d;
  grid-column: 1/5;
}
